<h1><%= @title %></h1>
  <p>
    4. Перегляд та редагування списку файлів користувача<br />
    (сортування за типом, розміром, назві; можливість<br />
    видалити файл чи відмітити як загальнодоступний).<br />
  </p>
