<h1><%= @title %></h1>
  <p>
    4. Перегляд та редагування списку файлів користувача (сортування за типом,<br />
    розміром, назві; можливість видалити файл чи відмітити як загальнодоступний).<br />
  </p>
